/*  TODO ****************************
    TODO  Approccio: desktop-first
    TODO  Breakpoints: 
    TODO  Desktop 1041px
    TODO  Tablet 768px
    TODO  Mobile 430px
    TODO ***************************/


/* !Tablet */
@media screen and (max-width: 768px) {
    /* COMMON */
    .container {
        width: 100%;
        height: 100%;
    }

    .left-col {
        width: 100px;
    }

    .right-col {
        width: calc(100% - 100px);
    }

    #contacts .avatar-name, 
    .last-access {
        display: none;
    }

    #contacts .contact-item {
        justify-content: center;
    }

    #contacts .header {
        justify-content: center;
        padding: .5em;
    }

    #contacts .header ul {
        display: none;
    }

    /* LEFT COL - Contacts Section */
    /* ? Contacts header */

    /* ? Alert contacts */
    #contacts .alert {
        display: none;
    }    

    /* ? Find contacts */
    #contacts .find-bar {
        display: none;
    }    
}

/* ! Mobile */
@media screen and (max-width: 430px) {
    /* COMMON */
    .left-col {
        width: 0%;

    }

    .right-col {
        width: 100%;
    }

    /* RIGHT COL - Chat Section */
    /* ? Main chat */
    #chat.col {
        width: 100%;
    }

    .chat-container {
        padding: 1.5em;
    }
}