/*  TODO ****************************
    TODO  Approccio: desktop-first
    TODO  Breakpoints: 
    TODO  Desktop 1041px
    TODO  Tablet 768px
    TODO  Mobile 430px
    TODO ****************************/

    /* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* CUSTOM PROPERTIES */
:root {
    --light-grey: #eaeaea;
    --dark-grey: #b1b1b1;
    --most-dark-grey: #676666;
    --light-blue: #8edbfc;
    --white: #ffffff;
    --green: #d5faba;
}


/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #009689, #009689 20%, #d9dbd7 20%);
}

.container {
    width: 85%;
    height: 95%;
    margin: 0 auto;
    overflow-y: hidden;
}

.columns {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 80px;
    background-color: var(--light-grey);
    padding: .5em 1em .5em .5em;
    align-items: center;
    justify-content: space-between;
}

.left-col {
    width: 30%;
    height: 100%;
}

.right-col {
    width: 70%;
    height: 100%;
}

.contact-item {
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar-name {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    flex-grow: 1;
    font-size: .9rem;
}

.avatar-name .last-message {
    font-size: .7rem;
    color: var(--dark-grey);
    padding-top: 5px;
}

button {
    border: 0;
    color: var(--dark-grey);
    font-size: 1.5rem;
}

ul {
    gap: 20px;
}

/* LEFT COL - Contacts Section */
/* ? Contacts header */
#contacts header {
    border-right: 1px solid var(--dark-grey);
}

/* ? Alert contacts */
#contacts .alert {
    width: 100%;
    height: 70px;
    background-color: var(--light-blue);
    justify-content: left;
    align-items: center;
    padding: 5px;
}

#contacts .alert-icon {
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}

#contacts .alert-icon i {
    font-size: 15px;
    color: var(--light-blue);
}

#contacts .alert-text {
    font-size: .9rem;
    flex-direction: column;
    gap: 5px;
}

#contacts .alert-text h6 {
    text-decoration: underline;
    color: var(--most-dark-grey);

}

/* ? Search contacts */
#contacts .search-bar {
    width: 100%;
    height: 40px;
    background-color: var(--light-grey);
    padding: 5px
}

#contacts .search-box {
    flex-grow: 1;
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    align-items: center;
}

#contacts .search-box i {
    color: var(--dark-grey);
    padding: 0 15px 0 10px;
}

#contacts .search-box input {
    border: 0;
    font-size: .7rem;
    flex-grow: 1;
}

/* ? List contacts */
#contacts .contacts-list {
    width: 100%;
    height: 100%;
    padding-bottom: 300px;
    background-color: var(--white);
    overflow-y: scroll;
}

#contacts .contact-item {
    height: 80px;
    padding: .5em;
    border-bottom: 1px solid var(--light-grey);
}

#contacts .last-access {
    color: var(--dark-grey);
    font-size: .7rem;
    align-self: self-start;
}

/* RIGHT COL - Chat Section */
/* ? Chat Header */
#chat .header span {
    color: var(--most-dark-grey);
    padding-top: 3px;
}

#chat .contact-item {
    width: 60%;
}

/* ? Main chat */
.chat-container {
    width: 100%;
    height: calc(100% - 150px);
    flex-grow: 1;
    padding: 2em 4em;
    gap: 10px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

#chat .message {
    padding: 1em .5em .5em .5em;
    border-radius: 10px;
    font-size: .9rem;
}

#chat .message-text {
    width: 90%;
    flex-grow: 1;
    padding-bottom: 30px;
}

#chat .message-info {
    width: 5%;
    justify-content: right;
    color: var(--dark-grey);
}

#chat .message-info i {
    font-size: .7rem;
}

#chat .message-time {
    align-self: flex-end;
    font-size: .5rem;
}

#chat .send {
    max-width: 75%;
    transform: translate(35%);
    background-color: var(--green);
}

#chat .received {
    max-width: 75%;
    background-color: var(--white);
}

/* ? Text area */
#chat .text-chat {
    width: 100%;
    height: 70px;
    background-color: var(--light-grey);
    padding: 10px;
    align-items: center;
}


#chat .text-chat i {
    color: var(--most-dark-grey);
    padding: 0 15px;
    font-size: 1.5rem;;
    text-align: center;
}

#chat .text-chat input {
    border: 0;  
    background-color: var(--white);
    padding: 15px;
    margin: 0 5px;
    border-radius: 10px;
    flex-grow: 1;
}